#all-search-table .search-table {
  display: block;
  min-height: 300px;
  overflow-x: auto;
}
#all-search-table .table-head th span,
#all-search-table td > span {
  width: 100px;
}
.email-td {
  width: 210px !important;
}
.m-badge.m-badge--wide {
  width: 80%;
}
#update-form {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  color: #fff;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
}
.popup-form {
  width: 65%;
}
.m-loader {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.m-loader:before {
  width: 3.4rem;
  height: 3.4rem;
  margin-top: -0.7rem;
  margin-right: -0.7rem;
  border-top-width: 2px;
  border-left-width: 2px;
}
.m-datatable__row th,
.m-datatable__row td {
  width: calc(100% / 8);
  text-align: center;
}
