.resources-service {
  margin-right: 15px;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}
.resources-service:last-child {
  border-bottom: 1px solid #eee;
}
.resources-service input {
  font-size: 20px;
}
.resources-service label {
  font-size: 16px;
  margin-right: 10px;
  margin-top: 2px;
}
