<div class="m-portlet m-portlet--tab">
  <form (ngSubmit)="onSubmit()" #f="ngForm" class="m-form m-form--fit m-form--label-align-right">
    <div class="m-portlet__body update-technical-form">
      <!-- Start Form Group -->
      <div class="form-group m-form__group">
        <label> إسم المصدر <span class="important-star">*</span></label>
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <input
            type="text"
            required
            id="username"
            name="name"
            class="form-control m-input m-input--pill m-input--air"
            placeholder="إسم المسؤول"
            [ngModel]="editMode ? updatedEmployeeData.name : ''"
            #name="ngModel"
          />

          <span class="m-input-icon__icon m-input-icon__icon--right">
            <span> <i class="la la-user"></i> </span>
          </span>
        </div>
        <!-- Start Validation -->
        <div *ngIf="name.valid" class="form-control-feedback m--font-success state-valid state">إدخال صحيح</div>
        <div *ngIf="name.invalid && name.touched" class="form-control-feedback m--font-danger state-wrong state">من فضلك ادخل الإسم بشكل صحيح</div>
        <!-- End Validation -->
      </div>
      <!-- End Form Group -->
      <!-- Start Form Group -->
      <div class="form-group m-form__group">
        <label> البريد الإلكتروني <span class="important-star">*</span></label>
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <input
            [ngModel]="editMode ? updatedEmployeeData.email : ''"
            type="email"
            id="email"
            required
            name="email"
            email
            class="form-control m-input m-input--pill m-input--air"
            placeholder=" البريد الإلكتروني"
            #email="ngModel"
          />
          <span class="m-input-icon__icon m-input-icon__icon--right">
            <span> <i class="la la-envelope-o"></i> </span>
          </span>
        </div>
        <div *ngIf="email.valid" class="form-control-feedback m--font-success state-valid state">إدخال صحيح</div>
        <div *ngIf="email.invalid && email.touched" class="form-control-feedback m--font-danger state-wrong state">من فضلك ادخل البريد الإلكترونى بشكل صحيح</div>
      </div>
      <!-- End Form Group -->
      <!-- Start Form Group -->
      <div class="form-group m-form__group">
        <label> رقم الموبايل<span class="important-star">*</span></label>
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <input
            type="text"
            id="phone_number"
            [ngModel]="editMode ? updatedEmployeeData.mobile : ''"
            required
            name="mobile"
            class="form-control m-input m-input--pill m-input--air"
            placeholder="رقم الموبايل"
            #mobile="ngModel"
            minlength="10"
            maxlength="14"
            (keypress)="numberOnly($event)"
          />
          <span class="m-input-icon__icon m-input-icon__icon--right">
            <span> <i class="la la-mobile-phone"></i> </span>
          </span>
        </div>
        <div *ngIf="mobile.valid" class="form-control-feedback m--font-success state-valid state">إدخال صحيح</div>
        <div *ngIf="mobile.invalid && mobile.touched" class="form-control-feedback m--font-danger state-wrong state">من فضلك ادخل رقم الموبايل بشكل صحيح</div>
      </div>
      <!-- End Form Group -->
      <!-- Start Form Group -->
      <div class="form-group m-form__group">
        <label>الوظيفة<span class="important-star">*</span></label>
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <!---->
          <input
            type="text"
            required
            id="userjob"
            name="job"
            class="form-control m-input m-input--pill m-input--air"
            placeholder="إسم المسؤول"
            [ngModel]="editMode ? updatedEmployeeData.job : ''"
            #job="ngModel"
          />

          <span class="m-input-icon__icon m-input-icon__icon--right">
            <span> <i class="la la-gear"></i> </span>
          </span>
        </div>
        <!-- Start Validation -->
        <div *ngIf="job.valid" class="form-control-feedback m--font-success state-valid state">إدخال صحيح</div>
        <div *ngIf="job.invalid && job.touched" class="form-control-feedback m--font-danger state-wrong state">من فضلك ادخل الوظيفة بشكل صحيح</div>
        <!-- End Validation -->
      </div>
      <!-- End Form Group -->
      <div
        class="m-portlet__foot m-portlet__foot--fit"
        style="
      margin-top: 25px;
  "
      >
        <div class="m-form__actions">
          <button *ngIf="registerMode" [disabled]="!f.valid" type="submit" class="btn btn-success" style="margin-left: 10px;">حفظ</button>
          <button *ngIf="registerMode" type="reset" (click)="onRegisterFinish()" class="btn btn-secondary">إلغاء</button>
          <button *ngIf="editMode" [disabled]="!f.valid" type="button" (click)="onUpdate()" class="btn btn-success" style="margin-left: 10px;">حفظ التعديلات</button>
          <button *ngIf="editMode" (click)="onFinishEdit()" type="reset" class="btn btn-secondary">إلغاء التعديل</button>
        </div>
      </div>
    </div>
  </form>
</div>
