<!-- <button type="button" (click)="check()">check</button> -->
<div class="m-portlet m-portlet--tab">
  <form (ngSubmit)="onSubmit()" #f="ngForm" class="m-form m-form--fit m-form--label-align-right">
    <div class="m-portlet__body update-technical-form">
      <!-- Start Form Group -->
      <div class="form-group m-form__group">
        <label> الإسم <span class="important-star">*</span></label>
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <input
            [ngModel]="editMode ? updatedData.name : ''"
            type="text"
            required
            id="username"
            name="name"
            class="form-control m-input m-input--pill m-input--air"
            placeholder="الإسم"
            #name="ngModel"
          />

          <span class="m-input-icon__icon m-input-icon__icon--right">
            <span> <i class="la la-user"></i> </span>
          </span>
        </div>
        <div *ngIf="name.valid" class="form-control-feedback m--font-success state-valid state">إدخال صحيح</div>
        <div *ngIf="name.invalid && name.touched" class="form-control-feedback m--font-danger state-wrong state">من فضلك ادخل الإسم بشكل صحيح</div>
      </div>
      <!-- End Form Group -->
      <!-- Start Form Group -->
      <div class="form-group m-form__group">
        <label> البريد الإلكتروني </label>
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <input
            [ngModel]="editMode ? updatedData.email : ''"
            type="email"
            id="email"
            name="email"
            class="form-control m-input m-input--pill m-input--air"
            placeholder=" البريد الإلكتروني"
            #email="ngModel"
          />
          <span class="m-input-icon__icon m-input-icon__icon--right">
            <span> <i class="la la-envelope-o"></i> </span>
          </span>
        </div>
      </div>
      <!-- End Form Group -->
      <!-- Start Form Group -->
      <div class="form-group m-form__group">
        <label> رقم الموبايل<span class="important-star">*</span></label>
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <input
            type="text"
            id="phone_number"
            [ngModel]="editMode ? updatedData.mobile : ''"
            required
            name="mobile"
            class="form-control m-input m-input--pill m-input--air"
            placeholder="رقم الموبايل"
            #mobile="ngModel"
            minlength="10"
            maxlength="14"
            (keypress)="numberOnly($event)"
          />
          <span class="m-input-icon__icon m-input-icon__icon--right">
            <span> <i class="la la-mobile-phone"></i> </span>
          </span>
        </div>
        <div *ngIf="mobile.valid" class="form-control-feedback m--font-success state-valid state">إدخال صحيح</div>
        <div *ngIf="mobile.invalid && mobile.touched" class="form-control-feedback m--font-danger state-wrong state">من فضلك ادخل رقم الموبايل بشكل صحيح</div>
      </div>
      <!-- End Form Group -->
      <!-- Start Form Group -->
      <div class="form-group m-form__group">
        <label>النوع</label>
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <!---->
          <select id="select_gender" [ngModel]="editMode ? updatedData.gender_object.id : ''" name="gender" class="form-control m-input m-input--square" id="exampleSelect1" #gender="ngModel">
            <option value="" disabled selected>اختر النوع</option>
            <option *ngFor="let gender of genders" [value]="[gender.id]">{{ gender.name }}</option>
          </select>
          <span class="m-input-icon__icon m-input-icon__icon--right">
            <span> <i class="la la-cogs"></i> </span>
          </span>
        </div>
      </div>
      <!-- End Form Group -->
      <!-- Start Form Group -->
      <div class="form-group m-form__group">
        <label>الدولة<span class="important-star">*</span></label>
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <!-- [ngModel]="editMode ? updatedResourceData.country : ''" -->
          <select
            required
            id="select_country"
            (change)="countryChanged()"
            [ngModel]="editMode ? updatedData.city.country_id : ''"
            name="country_id"
            class="form-control m-input m-input--square"
            id="exampleSelect1"
            #country_id="ngModel"
          >
            <option value="" disabled selected>الدولة</option>
            <option *ngFor="let countryElement of countries" [value]="[countryElement.id]">{{ countryElement.name }}</option>
          </select>
          <span class="m-input-icon__icon m-input-icon__icon--right">
            <span> <i class="la la-globe"></i> </span>
          </span>
        </div>
        <div *ngIf="country_id.valid" class="form-control-feedback m--font-success state-valid state">إدخال صحيح</div>
        <div *ngIf="country_id.invalid && country_id.touched" class="form-control-feedback m--font-danger state-wrong state">من فضلك قم بإختيار الدولة بشكل صحيح</div>
      </div>
      <!-- End Form Group -->
      <!-- Start Form Group -->
      <div class="form-group m-form__group">
        <label>المدينة<span class="important-star">*</span></label>
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <select required id="select_city" [ngModel]="editMode ? updatedData.city.id : ''" name="city_id" class="form-control m-input m-input--square" id="exampleSelect1" #city_id="ngModel">
            <option value="" disabled selected>المدينة</option>
            <option *ngFor="let city of cities" [value]="[city.id]">{{ city.name }}</option>
          </select>
          <span class="m-input-icon__icon m-input-icon__icon--right">
            <span> <i class="la la-map-o"></i> </span>
          </span>
        </div>
        <div *ngIf="city_id.valid" class="form-control-feedback m--font-success state-valid state">إدخال صحيح</div>
        <div *ngIf="city_id.invalid && city_id.touched" class="form-control-feedback m--font-danger state-wrong state">من فضلك قم بإختيار المدينة بشكل صحيح</div>
      </div>
      <!-- End Form Group -->
      <!-- Start Form Group -->
      <div class="form-group m-form__group">
        <label>المنطقة</label>
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <input [ngModel]="editMode ? updatedData.zone : ''" type="text" id="zone" name="zone" class="form-control m-input m-input--pill m-input--air" placeholder="المنطقة" #zone="ngModel" />
          <span class="m-input-icon__icon m-input-icon__icon--right">
            <span> <i class="la la-envelope-o"></i> </span>
          </span>
        </div>
      </div>
      <!-- End Form Group -->
      <!-- Start Form Group -->
      <div class="form-group m-form__group">
        <label>العنوان</label>
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <input
            type="text"
            id="address"
            [ngModel]="editMode ? updatedData.address : ''"
            name="address"
            class="form-control m-input m-input--pill m-input--air"
            placeholder="العنوان"
            #address="ngModel"
          />
          <span class="m-input-icon__icon m-input-icon__icon--right">
            <span> <i class="la la-map-marker"></i> </span>
          </span>
        </div>
      </div>
      <!-- End Form Group -->
      <!-- Start Form Group -->
      <div class="form-group m-form__group">
        <label>الموقع GPS</label>
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <input
            [ngModel]="editMode ? updatedData.location : ''"
            type="url"
            pattern="http.*://.*"
            id="location"
            name="location"
            class="form-control m-input m-input--pill m-input--air"
            placeholder="الموقع GPS"
            #location="ngModel"
          />
          <span class="m-input-icon__icon m-input-icon__icon--right">
            <span> <i class="la la-compass"></i> </span>
          </span>
        </div>
      </div>
      <!-- End Form Group -->
      <!-- Start Form Group -->
      <div class="form-group m-form__group">
        <label>نوع العميل<span class="important-star">*</span></label>
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <select
            required
            id="select_client_type"
            [ngModel]="editMode ? updatedData.client_type : ''"
            name="client_type"
            class="form-control m-input m-input--square"
            id="exampleSelect1"
            #client_type="ngModel"
          >
            <option value="" disabled selected>اختر نوع العميل</option>
            <option *ngFor="let client_type of client_types" [value]="[client_type.id]">{{ client_type.name }}</option>
          </select>
          <span class="m-input-icon__icon m-input-icon__icon--right">
            <span> <i class="la la-cogs"></i> </span>
          </span>
        </div>
        <div *ngIf="client_type.valid" class="form-control-feedback m--font-success state-valid state">إدخال صحيح</div>
        <div *ngIf="client_type.invalid && client_type.touched" class="form-control-feedback m--font-danger state-wrong state">من فضلك قم بإختيار نوع العميل بشكل صحيح</div>
      </div>
      <!-- End Form Group -->
      <h3 class="block-separate">معلومات منزل العميل</h3>
      <!-- Start Form Group -->
      <div class="form-group m-form__group">
        <label>نوع العقار</label>
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <select id="select_home_type" [ngModel]="editMode ? updatedData.home_type : ''" name="home_type" class="form-control m-input m-input--square" id="exampleSelect1" #home_type="ngModel">
            <option value="" disabled selected>اختر نوع العقار</option>
            <option *ngFor="let home_type of home_types" [value]="[home_type.id]">{{ home_type.name }}</option>
          </select>
          <span class="m-input-icon__icon m-input-icon__icon--right">
            <span> <i class="la la-cogs"></i> </span>
          </span>
        </div>
      </div>
      <!-- End Form Group -->
      <!-- Start Form Group -->
      <div class="form-group m-form__group">
        <label>نوع العقد</label>
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <select
            id="select_home_type"
            [ngModel]="editMode ? updatedData.home_contract_type : ''"
            name="home_contract_type"
            class="form-control m-input m-input--square"
            id="exampleSelect1"
            #home_contract_type="ngModel"
          >
            <option value="" disabled selected>اختر نوع العقد</option>
            <option *ngFor="let home_contract_type of home_contract_types" [value]="[home_contract_type.id]">{{ home_contract_type.name }}</option>
          </select>
          <span class="m-input-icon__icon m-input-icon__icon--right">
            <span> <i class="la la-cogs"></i> </span>
          </span>
        </div>
      </div>
      <!-- End Form Group -->
      <!-- Start Form Group -->
      <div class="form-group m-form__group">
        <label> المساحة</label>
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <input
            [ngModel]="editMode ? updatedData.area : ''"
            type="number"
            min="1"
            id="area"
            name="area"
            class="form-control m-input m-input--pill m-input--air"
            placeholder="المساحة"
            #area="ngModel"
          />
          <span class="m-input-icon__icon m-input-icon__icon--right">
            <span> <i class="la la-envelope-o"></i> </span>
          </span>
        </div>
      </div>
      <!-- End Form Group -->
      <!-- Start Form Group -->
      <div class="form-group m-form__group">
        <label> عدد الطوابق</label>
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <input
            [ngModel]="editMode ? updatedData.floor_number : ''"
            type="number"
            min="1"
            id="floor_number"
            name="floor_number"
            class="form-control m-input m-input--pill m-input--air"
            placeholder="عدد الطوابق"
            #floor_number="ngModel"
          />
          <span class="m-input-icon__icon m-input-icon__icon--right">
            <span> <i class="la la-envelope-o"></i> </span>
          </span>
        </div>
      </div>
      <!-- End Form Group -->
      <!-- Start Form Group -->
      <div class="form-group m-form__group">
        <label> عدد الغرف</label>
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <input
            [ngModel]="editMode ? updatedData.room_number : ''"
            type="number"
            min="1"
            id="room_number"
            name="room_number"
            class="form-control m-input m-input--pill m-input--air"
            placeholder="عدد الغرف"
            #room_number="ngModel"
          />
          <span class="m-input-icon__icon m-input-icon__icon--right">
            <span> <i class="la la-envelope-o"></i> </span>
          </span>
        </div>
      </div>
      <!-- End Form Group -->
      <!-- Start Form Group -->
      <div class="form-group m-form__group">
        <label> عدد الحمامات</label>
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <input
            [ngModel]="editMode ? updatedData.bathroom_number : ''"
            type="number"
            min="1"
            id="bathroom_number"
            name="bathroom_number"
            class="form-control m-input m-input--pill m-input--air"
            placeholder="عدد الحمامات"
            #bathroom_number="ngModel"
          />
          <span class="m-input-icon__icon m-input-icon__icon--right">
            <span> <i class="la la-envelope-o"></i> </span>
          </span>
        </div>
      </div>
      <!-- End Form Group -->
      <!-- Start Form Group -->
      <div class="form-group m-form__group">
        <label> عدد المطابخ</label>
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <input
            [ngModel]="editMode ? updatedData.kitchen_number : ''"
            type="number"
            min="1"
            id="kitchen_number"
            name="kitchen_number"
            class="form-control m-input m-input--pill m-input--air"
            placeholder="عدد المطابخ"
            #kitchen_number="ngModel"
          />
          <span class="m-input-icon__icon m-input-icon__icon--right">
            <span> <i class="la la-envelope-o"></i> </span>
          </span>
        </div>
      </div>
      <!-- End Form Group -->
      <!-- Start Form Group -->
      <div class="form-group m-form__group">
        <label> عدد الكاميرات</label>
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <input
            [ngModel]="editMode ? updatedData.camera_number : ''"
            type="number"
            min="1"
            id="camera_number"
            name="camera_number"
            class="form-control m-input m-input--pill m-input--air"
            placeholder="عدد الكاميرات"
            #camera_number="ngModel"
          />
          <span class="m-input-icon__icon m-input-icon__icon--right">
            <span> <i class="la la-envelope-o"></i> </span>
          </span>
        </div>
      </div>
      <!-- End Form Group -->
      <div class="clearfix"></div>
      <!-- Start Form Group -->
      <hr />
      <div class="form-group m-form__group" id="air_select">
        <label>نوع التكييف</label>
        <!-- Select -->
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <!-- [ngModel]="editMode ? updatedData.service_id : ''" -->
          <select id="select_home_type" ngModel name="air_conditioner_type" class="form-control m-input m-input--square" id="exampleSelect1" #air_conditioner_type="ngModel">
            <option value="" disabled selected>اختر نوع التكييف</option>
            <option *ngFor="let air_conditioner_type of air_conditioner_types" [value]="[air_conditioner_type.id]">{{ air_conditioner_type.name }}</option>
          </select>
          <span class="m-input-icon__icon m-input-icon__icon--right">
            <span> <i class="la la-cogs"></i> </span>
          </span>
        </div>
        <!-- Select -->
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <!-- [ngModel]="editMode ? updatedData.email : ''" -->
          <input
            ngModel
            type="number"
            min="1"
            id="air_conditioner_count"
            name="air_conditioner_count"
            class="form-control m-input m-input--pill m-input--air"
            placeholder="عدد التكييف"
            #air_conditioner_count="ngModel"
          />
          <span class="m-input-icon__icon m-input-icon__icon--right">
            <span> <i class="la la-envelope-o"></i> </span>
          </span>
        </div>
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <button type="button" class="btn btn-success" (click)="addAirCondition(air_conditioner_type.value, air_conditioner_count.value)">إضافة</button>
        </div>
      </div>
      <!-- Start Air Selected -->
      <div
        style="
      display: inline-block;
      width: 100%;
  "
      >
        <div
          *ngFor="let airItem of airConditionFront"
          style="
      display: inline-block;
      padding-left: 50px;
      margin-right: 30px;
      margin-top: 10px;
  "
          class="alert alert-danger alert-dismissible fade show   m-alert m-alert--air"
          role="alert"
        >
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="deleteAirItemFront(airItem.name, airItem.count)"></button>
          <strong> النوع : {{ airItem.name }} - العدد : {{ airItem.count }} </strong>
        </div>
      </div>
      <!-- End Air Selected -->
      <!-- End Form Group -->
      <!-- ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->
      <!-- Start Form Group -->
      <div class="form-group m-form__group">
        <label>التفعيل</label>
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <!-- Start Toggle -->
          <span class="m-switch m-switch--outline m-switch--icon m-switch--success">
            <label>
              <!-- [(ngModel)]="editMode ? updatedData.active : binding" -->
              <input [(ngModel)]="activeValue" type="checkbox" value="1" name="active" #active="ngModel" /> <span></span>
            </label>
          </span>
          <!-- End Toggle -->
        </div>
      </div>

      <div class="m-portlet__foot m-portlet__foot--fit">
        <div class="m-form__actions">
          <button *ngIf="!editMode" [disabled]="!f.valid" type="submit" class="btn btn-success" style="margin-left: 10px;">حفظ</button>
          <button *ngIf="!editMode" type="reset" class="btn btn-secondary">إعادة تعيين</button>

          <button [disabled]="!f.valid" type="button" (click)="onUpdate()" class="btn btn-success" style="margin-left: 10px;" *ngIf="editMode">حفظ التعديلات</button>
          <button type="button" (click)="onCloseEdit()" class="btn btn-secondary" *ngIf="editMode">إغلاق</button>
        </div>
      </div>
    </div>
  </form>
</div>
