<div class="m-portlet m-portlet--tab">
  <form (ngSubmit)="onSubmit()" #f="ngForm" class="m-form m-form--fit m-form--label-align-right">
    <div class="m-portlet__body update-technical-form">
      <div class="form-group m-form__group">
        <label> الإسم <span class="important-star">*</span></label>
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <input
            type="text"
            required
            id="username"
            [ngModel]="inAllTechnical ? updatedId.name : ''"
            name="name"
            class="form-control m-input m-input--pill m-input--air"
            placeholder="الإسم"
            #name="ngModel"
          />

          <span class="m-input-icon__icon m-input-icon__icon--right">
            <span> <i class="la la-user"></i> </span>
          </span>
        </div>
        <div *ngIf="name.valid" class="form-control-feedback m--font-success state-valid state">إدخال صحيح</div>
        <div *ngIf="name.invalid && name.touched" class="form-control-feedback m--font-danger state-wrong state">من فضلك ادخل الإسم بشكل صحيح</div>
      </div>
      <div class="form-group m-form__group">
        <label> البريد الإلكتروني <span class="important-star">*</span></label>
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <input
            [ngModel]="inAllTechnical ? updatedId.email : ''"
            type="email"
            id="email"
            required
            name="email"
            email
            class="form-control m-input m-input--pill m-input--air"
            placeholder=" البريد الإلكتروني"
            #email="ngModel"
          />
          <span class="m-input-icon__icon m-input-icon__icon--right">
            <span> <i class="la la-envelope-o"></i> </span>
          </span>
        </div>
        <div *ngIf="email.valid" class="form-control-feedback m--font-success state-valid state">إدخال صحيح</div>
        <div *ngIf="email.invalid && email.touched" class="form-control-feedback m--font-danger state-wrong state">من فضلك ادخل البريد الإلكترونى بشكل صحيح</div>
      </div>
      <div class="form-group m-form__group">
        <label> رقم الموبايل<span class="important-star">*</span></label>
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <input
            type="text"
            id="phone_number"
            [ngModel]="inAllTechnical ? updatedId.mobile : ''"
            required
            name="mobile"
            class="form-control m-input m-input--pill m-input--air"
            placeholder="رقم الموبايل"
            #mobile="ngModel"
            minlength="10"
            maxlength="14"
            (keypress)="numberOnly($event)"
          />
          <span class="m-input-icon__icon m-input-icon__icon--right">
            <span> <i class="la la-mobile-phone"></i> </span>
          </span>
        </div>
        <div *ngIf="mobile.valid" class="form-control-feedback m--font-success state-valid state">إدخال صحيح</div>
        <div *ngIf="mobile.invalid && mobile.touched" class="form-control-feedback m--font-danger state-wrong state">من فضلك ادخل رقم الموبايل بشكل صحيح</div>
      </div>
      <!--
        <div *ngIf="inAddTechnical" class="form-group m-form__group">
          <label>كلمة سر الدخول الى النظام<span class="important-star">*</span></label>
          <div class="m-input-icon m-input-icon--left m-input-icon--right">
            <input type="text" id="password" ngModel required name="password" class="form-control m-input m-input--pill m-input--air" placeholder="كلمة السر" #password="ngModel" minlength="6" />
            <span class="m-input-icon__icon m-input-icon__icon--right">
              <span> <i class="la la-unlock"></i> </span>
            </span>
          </div>
          <div *ngIf="password.valid" class="form-control-feedback m--font-success state-valid state">إدخال صحيح</div>
          <div *ngIf="password.invalid && password.touched" class="form-control-feedback m--font-danger state-wrong state">من فضلك ادخل الرقم السري بشكل صحيح و الحد الأدني 6 خانات</div>
        </div>
      -->
      <!-- Start Updated Password -->
      <!-- *ngIf="inAllTechnical && changePassword" -->
      <div
        class="form-group m-form__group"
        style="
    padding-bottom: 0px;
    margin-bottom: -22px;
"
      >
        <label *ngIf="inAllTechnical">تعديل كلمة سر الدخول الى النظام<span class="important-star">*</span></label>
        <label *ngIf="inAddTechnical">كلمة سر الدخول الى النظام<span class="important-star">*</span></label>
        <!-- Start Toggle -->
        <div *ngIf="inAllTechnical" class="m-input-icon m-input-icon--left m-input-icon--right">
          <span class="m-switch m-switch--outline m-switch--icon m-switch--success">
            <label> <input type="checkbox" value="1" name="change_password" [(ngModel)]="change_password" /> <span></span> </label>
          </span>
        </div>
        <!-- End Toggle -->
      </div>
      <div *ngIf="(inAllTechnical && change_password) || inAddTechnical" class="form-group m-form__group">
        <div>
          <div class="m-input-icon m-input-icon--left m-input-icon--right">
            <input type="text" id="password" ngModel required name="password" class="form-control m-input m-input--pill m-input--air" placeholder="كلمة السر" #password="ngModel" minlength="6" />
            <span class="m-input-icon__icon m-input-icon__icon--right">
              <span> <i class="la la-unlock"></i> </span>
            </span>
          </div>
        </div>
        <div *ngIf="password.valid" class="form-control-feedback m--font-success state-valid state">إدخال صحيح</div>
        <div *ngIf="password.invalid && password.touched" class="form-control-feedback m--font-danger state-wrong state">من فضلك ادخل الرقم السري بشكل صحيح و الحد الأدني 6 خانات</div>
      </div>
      <!-- End Updated Password -->
      <div class="form-group m-form__group">
        <label>الخدمة<span class="important-star">*</span></label>
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <select
            required
            id="select_service"
            [ngModel]="inAllTechnical ? updatedId.service_id : ''"
            name="service_id"
            class="form-control m-input m-input--square"
            id="exampleSelect1"
            #service_id="ngModel"
          >
            <option value="" disabled selected>اختر الخدمة</option>
            <option *ngFor="let service of services" [value]="[service.id]">{{ service.name }}</option>
          </select>
          <span class="m-input-icon__icon m-input-icon__icon--right">
            <span> <i class="la la-cogs"></i> </span>
          </span>
        </div>
        <div *ngIf="service_id.valid" class="form-control-feedback m--font-success state-valid state">إدخال صحيح</div>
        <div *ngIf="service_id.invalid && service_id.touched" class="form-control-feedback m--font-danger state-wrong state">من فضلك قم بإختيار الخدمة بشكل صحيح</div>
      </div>
      <div class="form-group m-form__group">
        <label for="exampleInputEmail1"> إرفق صورة </label>
        <div></div>
        <div class="custom-file">
          <input
            type="file"
            alife-file-to-base64
            (onFileChanged)="onFileChanges($event)"
            value=""
            name="uploadImage"
            accept="image/x-png,image/jpeg,image/jpg"
            class="custom-file-input"
            id="customFile"
          />
          <label class="custom-file-label" for="customFile"> اختر صورة </label>
        </div>
      </div>
      <input type="hidden" [(ngModel)]="technicalImage" name="image" #image="ngModel" />
      <div class="form-group m-form__group">
        <label>التفعيل<span class="important-star">*</span></label>
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <!-- Start Toggle -->
          <span class="m-switch m-switch--outline m-switch--icon m-switch--success">
            <label> <input [(ngModel)]="inAllTechnical ? updatedId.active : binding" type="checkbox" value="1" name="active" #active="ngModel" /> <span></span> </label>
          </span>
          <!-- End Toggle -->
        </div>
      </div>

      <div class="m-portlet__foot m-portlet__foot--fit">
        <div class="m-form__actions">
          <button [disabled]="!f.valid" type="submit" class="btn btn-success" style="margin-left: 10px;" *ngIf="inAddTechnical">حفظ</button>
          <button type="reset" class="btn btn-secondary" *ngIf="inAddTechnical">إعادة تعيين</button>
          <button [disabled]="!f.valid" type="button" (click)="onUpdate()" class="btn btn-success" style="margin-left: 10px;" *ngIf="inAllTechnical">حفظ التعديلات</button>
          <button type="button" (click)="onFinishEdit()" class="btn btn-secondary" *ngIf="inAllTechnical">إغلاق</button>
        </div>
      </div>
    </div>
  </form>
</div>
