<div class="m-portlet m-portlet--tab">
  <form (ngSubmit)="onSubmit()" #f="ngForm" class="m-form m-form--fit m-form--label-align-right">
    <div class="m-portlet__body update-technical-form">
      <!-- Start Form Group -->
      <div class="form-group m-form__group">
        <label> إسم المصدر <span class="important-star">*</span></label>
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <input
            type="text"
            required
            id="username"
            [ngModel]="editMode ? updatedResourceData.name : ''"
            name="name"
            class="form-control m-input m-input--pill m-input--air"
            placeholder="إسم المصدر"
            #name="ngModel"
          />

          <span class="m-input-icon__icon m-input-icon__icon--right">
            <span> <i class="la la-user"></i> </span>
          </span>
        </div>
        <!-- Start Validation -->
        <div *ngIf="name.valid" class="form-control-feedback m--font-success state-valid state">إدخال صحيح</div>
        <div *ngIf="name.invalid && name.touched" class="form-control-feedback m--font-danger state-wrong state">من فضلك ادخل الإسم بشكل صحيح</div>
        <!-- End Validation -->
      </div>
      <!-- End Form Group -->
      <!-- Start Form Group -->
      <div class="form-group m-form__group">
        <label>الموقع GPS <span class="important-star">*</span></label>
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <input
            [ngModel]="editMode ? updatedResourceData.location : ''"
            type="url"
            pattern="http.*://.*"
            id="location"
            required
            name="location"
            class="form-control m-input m-input--pill m-input--air"
            placeholder="الموقع GPS"
            #location="ngModel"
          />
          <span class="m-input-icon__icon m-input-icon__icon--right">
            <span> <i class="la la-compass"></i> </span>
          </span>
        </div>
        <div *ngIf="location.valid" class="form-control-feedback m--font-success state-valid state">إدخال صحيح</div>
        <div *ngIf="location.invalid && location.touched" class="form-control-feedback m--font-danger state-wrong state">من فضلك ادخل الموقع بشكل صحيح</div>
      </div>
      <!-- End Form Group -->
      <!-- Start Form Group -->
      <div class="form-group m-form__group">
        <label>العنوان<span class="important-star">*</span></label>
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <input
            type="text"
            id="address"
            [ngModel]="editMode ? updatedResourceData.address : ''"
            required
            name="address"
            class="form-control m-input m-input--pill m-input--air"
            placeholder="العنوان"
            #address="ngModel"
          />
          <span class="m-input-icon__icon m-input-icon__icon--right">
            <span> <i class="la la-map-marker"></i> </span>
          </span>
        </div>
        <div *ngIf="address.valid" class="form-control-feedback m--font-success state-valid state">إدخال صحيح</div>
        <div *ngIf="address.invalid && address.touched" class="form-control-feedback m--font-danger state-wrong state">من فضلك ادخل العنوان بشكل صحيح</div>
      </div>
      <!-- End Form Group -->
      <!-- End Form Group -->
      <div class="form-group m-form__group">
        <label> رقم الموبايل<span class="important-star">*</span></label>
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <input
            type="text"
            id="phone_number"
            [ngModel]="editMode ? updatedResourceData.phone : ''"
            required
            name="phone"
            class="form-control m-input m-input--pill m-input--air"
            placeholder="رقم الموبايل"
            #phone="ngModel"
            minlength="10"
            maxlength="14"
          />
          <span class="m-input-icon__icon m-input-icon__icon--right">
            <span> <i class="la la-mobile-phone"></i> </span>
          </span>
        </div>
        <div *ngIf="phone.valid" class="form-control-feedback m--font-success state-valid state">إدخال صحيح</div>
        <div *ngIf="phone.invalid && phone.touched" class="form-control-feedback m--font-danger state-wrong state">من فضلك ادخل رقم الموبايل بشكل صحيح</div>
      </div>
      <!-- End Form Group -->
      <!-- Start Form Group -->
      <div class="form-group m-form__group">
        <label>الدولة<span class="important-star">*</span></label>
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <select
            required
            id="select_country"
            (change)="countryChanged()"
            [ngModel]="editMode ? updatedResourceData.country : ''"
            name="country"
            class="form-control m-input m-input--square"
            id="exampleSelect1"
            #country="ngModel"
          >
            <option value="" disabled selected>الدولة</option>
            <option *ngFor="let countryElement of countries" [value]="[countryElement.id]">{{ countryElement.name }}</option>
          </select>
          <span class="m-input-icon__icon m-input-icon__icon--right">
            <span> <i class="la la-globe"></i> </span>
          </span>
        </div>
        <div *ngIf="country.valid" class="form-control-feedback m--font-success state-valid state">إدخال صحيح</div>
        <div *ngIf="country.invalid && country.touched" class="form-control-feedback m--font-danger state-wrong state">من فضلك قم بإختيار الدولة بشكل صحيح</div>
      </div>
      <!-- End Form Group -->
      <!-- Start Form Group -->
      <div class="form-group m-form__group">
        <label>المدينة<span class="important-star">*</span></label>
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <select required id="select_city" [ngModel]="editMode ? updatedResourceData.city_id : ''" name="city_id" class="form-control m-input m-input--square" id="exampleSelect1" #city_id="ngModel">
            <option value="" disabled selected>المدينة</option>
            <option *ngFor="let city of cities" [value]="[city.id]">{{ city.name }}</option>
          </select>
          <span class="m-input-icon__icon m-input-icon__icon--right">
            <span> <i class="la la-map-o"></i> </span>
          </span>
        </div>
        <div *ngIf="city_id.valid" class="form-control-feedback m--font-success state-valid state">إدخال صحيح</div>
        <div *ngIf="city_id.invalid && city_id.touched" class="form-control-feedback m--font-danger state-wrong state">من فضلك قم بإختيار المدينة بشكل صحيح</div>
      </div>
      <!-- End Form Group -->
      <!-- Start Form Group -->
      <div class="form-group m-form__group">
        <label for="exampleInputEmail1"> إرفق اللوجو </label>
        <div></div>
        <div class="custom-file">
          <input
            type="file"
            alife-file-to-base64
            (onFileChanged)="onFileChanges($event)"
            value=""
            name="uploadImage"
            accept="image/x-png,image/jpeg,image/jpg"
            class="custom-file-input"
            id="customFile"
          />
          <label class="custom-file-label" for="customFile"> اختر لوجو </label>
        </div>
      </div>
      <input type="hidden" [(ngModel)]="resourceImage" name="logo" #logo="ngModel" />
      <!-- End Form Group -->
      <!-- Start Form Group -->
      <div class="form-group m-form__group">
        <label>الموقع الإلكتروني</label>
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <input
            (change)="onWebsiteChange()"
            type="url"
            id="website"
            [ngModel]="editMode ? updatedResourceData.website : resourceWebsite"
            name="resourceWebsite"
            class="form-control m-input m-input--pill m-input--air"
            placeholder="الموقع الإلكتروني"
          />
          <span class="m-input-icon__icon m-input-icon__icon--right">
            <span> <i class="la la-link"></i> </span>
          </span>
        </div>
      </div>
      <input *ngIf="!websiteEmpty" type="hidden" [(ngModel)]="resourceWebsite" name="website" #website="ngModel" />
      <!-- End Form Group -->
      <!-- Start Form Group -->
      <div class="form-group m-form__group">
        <label>النوع<span class="important-star">*</span></label>
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <select required id="select_type" [ngModel]="editMode ? updatedResourceData.type : ''" name="type" class="form-control m-input m-input--square" id="exampleSelect1" #type="ngModel">
            <option value="" disabled selected>النوع</option>
            <option *ngFor="let typeElement of types" [value]="[typeElement.id]">{{ typeElement.name }}</option>
          </select>
          <span class="m-input-icon__icon m-input-icon__icon--right">
            <span> <i class="la la-cogs"></i> </span>
          </span>
        </div>
        <div *ngIf="type.valid" class="form-control-feedback m--font-success state-valid state">إدخال صحيح</div>
        <div *ngIf="type.invalid && type.touched" class="form-control-feedback m--font-danger state-wrong state">من فضلك قم بإختيار النوع بشكل صحيح</div>
      </div>
      <!-- End Form Group -->
      <!-- Start Form Group -->
      <div class="form-group m-form__group">
        <label>الخدمات<span class="important-star">*</span></label>
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <div id="services-container">
            <div class="resources-service" *ngFor="let service of servicesArray">
              <input class="form-check-input" id="{{ service.name }}" type="checkbox" name="{{ service.name }}" [(ngModel)]="serviceArray[service.id]" />
              <label class="form-check-label" for="{{ service.name }}"> {{ service.name }} </label>
            </div>
          </div>
        </div>
        <input type="hidden" ngModel name="services" #services="ngModel" />
      </div>
      <!-- End Form Group -->
      <div class="form-group m-form__group clearfix">
        <label>التفعيل<span class="important-star">*</span></label>
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <!-- Start Toggle -->
          <span class="m-switch m-switch--outline m-switch--icon m-switch--success">
            <label> <input [(ngModel)]="editMode ? updatedResourceData.active : typeFalse" type="checkbox" value="1" name="active" #active="ngModel" /> <span></span> </label>
          </span>
          <!-- End Toggle -->
        </div>
      </div>

      <div class="m-portlet__foot m-portlet__foot--fit">
        <div class="m-form__actions">
          <!-- [disabled]="!f.valid" -->
          <button *ngIf="!editMode" [disabled]="!f.valid" type="submit" class="btn btn-success" style="margin-left: 10px;">حفظ</button>
          <button *ngIf="!editMode" type="reset" class="btn btn-secondary">إعادة تعيين</button>
          <button *ngIf="editMode" [disabled]="!f.valid" type="button" (click)="onUpdate()" class="btn btn-success" style="margin-left: 10px;">حفظ التعديلات</button>
          <button *ngIf="editMode" (click)="onFinishEdit()" type="reset" class="btn btn-secondary">إلغاء التعديل</button>
        </div>
      </div>
    </div>
  </form>
</div>
