<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
  <!-- BEGIN: Header -->
  <app-header></app-header>
  <!-- END: Header -->
  <!-- begin::Body -->
  <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
    <!-- ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ Start Side Mneu ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->
    <app-side-nav></app-side-nav>
    <!-- ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ End Side Mneu ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->
    <!-- ########### START PAGE CONTENT ########### -->
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
      <!-- BEGIN: Subheader -->
      <div class="m-subheader ">
        <div class="d-flex align-items-center">
          <div class="mr-auto"><h3 class="m-subheader__title ">المصادر</h3></div>
        </div>
      </div>
      <!-- END: Subheader -->
      <div class="m-content">
        <div class="row">
          <div class="col-xl-12 col-lg-12">
            <div class="m-section m-portlet m-portlet--full-height get-float-right">
              <div class="m-section__content col-lg-12">
                <!-- begin::Portlet -->
                <div>
                  <!-- Start Resources Options Tabs -->
                  <div class="row">
                    <div class="col-xl-12 col-lg-12">
                      <!-- Begin::Portlet -->
                      <div class="m-portlet">
                        <div class="m-portlet__head">
                          <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title"><h3 class="m-portlet__head-text">قائمة المصادر</h3></div>
                          </div>
                          <div class="m-portlet__head-tools">
                            <ul class="m-portlet__nav">
                              <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push">
                                <button routerLink="/resources/add-resource" type="button" class="btn m-btn--square  btn-success">
                                  <span
                                    style="
                                  font-size: 16px;
                              "
                                    >إضافة مصدر</span
                                  >
                                  <i
                                    style="
                                  color: #fff !important;
                                  margin-right: 5px;
                                  font-size: 14px;
                              "
                                    class="la la-plus m--font-brand"
                                  ></i>
                                </button>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="m-portlet__body">
                          <div class="m-scrollable mCustomScrollbar _mCS_5 mCS-autoHide _mCS_2">
                            <!-- Start Resources Table -->
                            <!-- begin: Datatable -->
                            <!-- <div *ngIf="!anyTechnicalExist">لا توجد بيانات للعرض</div> -->
                            <!-- *ngIf="anyTechnicalExist" -->
                            <div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded" id="all-search-table">
                              <!-- *ngIf=" emptyArray" -->
                              <table class="m-datatable__table search-table" id="html_table" width="100%">
                                <thead class="m-datatable__head table-head">
                                  <tr class="m-datatable__row">
                                    <th class="m-datatable__cell m-datatable__cell--sort"><span>المسلسل</span></th>
                                    <th class="m-datatable__cell m-datatable__cell--sort"><span>إسم المصدر</span></th>
                                    <th class="m-datatable__cell m-datatable__cell--sort"><span>رقم الهاتف</span></th>
                                    <th class="m-datatable__cell m-datatable__cell--sort"><span>حالة المصدر</span></th>
                                    <th class="m-datatable__cell m-datatable__cell--sort"><span>تعديل المصدر</span></th>
                                    <th class="m-datatable__cell m-datatable__cell--sort"><span>إضافة مسؤول</span></th>
                                    <th class="m-datatable__cell m-datatable__cell--sort"><span>حذف المصدر</span></th>
                                  </tr>
                                </thead>
                                <tbody class="m-datatable__body">
                                  <tr class="m-datatable__row" *ngFor="let resource of resources">
                                    <td class="m-datatable__cell">
                                      <span>{{ resource.id }}</span>
                                    </td>
                                    <td class="m-datatable__cell">
                                      <span
                                        ><a [routerLink]="['/resources/' + resource.id]">{{ resource.name }}</a></span
                                      >
                                    </td>
                                    <td class="m-datatable__cell">
                                      <span>{{ resource.phone }}</span>
                                    </td>

                                    <td class="m-datatable__cell active-span">
                                      <span> <span *ngIf="resource.active == 1" class="m-badge  m-badge--success m-badge--wide">مفعل</span> </span>
                                      <span *ngIf="resource.active == 0"> <span class="m-badge  m-badge--danger m-badge--wide">غير مفعل</span> </span>
                                    </td>
                                    <td class="m-datatable__cell">
                                      <span><button type="button" class="btn btn-success update-button" (click)="updateResource(resource.id)">تعديل المصدر</button></span>
                                    </td>
                                    <td class="m-datatable__cell">
                                      <span><button (click)="addEmployee()" [routerLink]="['/resources/' + resource.id]" type="button" class="btn btn-primary update-button">إضافة مسؤول</button></span>
                                    </td>
                                    <td class="m-datatable__cell">
                                      <span><button type="button" class="btn btn-danger" (click)="deleteResource(resource.id)">حذف المصدر</button></span>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            <!-- end: Datatable -->
                            <!-- End Resources Table -->
                          </div>
                        </div>
                      </div>
                      <!-- End::Portlet -->
                    </div>
                  </div>
                  <!-- End Resources Options Tabs -->
                </div>
                <!-- end::Portlet -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Update Form -->
      <div id="update-form" *ngIf="editMode">
        <div class="popup-form">
          <!-- (editSuccess)="editSuccess($event)" -->
          <app-resources-form [updatedResourceData]="updatedResourceData" [editMode]="editMode" (editModeChange)="editModeChange($event)" (editSuccess)="editSuccess($event)"></app-resources-form>
        </div>
      </div>
      <!-- Update Form -->
      <!-- begin::Footer -->
      <app-footer></app-footer>
      <!-- end::Footer -->
    </div>
    <!-- ########### END PAGE CONTENT ########### -->
  </div>
  <!-- end:: Body -->
</div>
<!-- end:: Page -->
