@font-face {
  font-family: 'Flaticon';
  src: url('fonts/flaticon/Flaticon.eot');
  src: url('fonts/flaticon/Flaticon.eot?#iefix') format('embedded-opentype'), url('fonts/flaticon/Flaticon.woff') format('woff'), url('fonts/flaticon/Flaticon.ttf') format('truetype'),
    url('fonts/flaticon/Flaticon.svg#Flaticon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'Flaticon';
    src: url('fonts/flaticon/Flaticon.svg#Flaticon') format('svg');
  }
}
@font-face {
  font-family: 'Metronic';
  src: url('fonts/metronic/Metronic_fda1334c35d0f5fe2afb3afebbb6774a.eot');
  src: url('fonts/metronic/Metronic_fda1334c35d0f5fe2afb3afebbb6774a.eot?#iefix') format('embedded-opentype'), url('fonts/metronic/Metronic_fda1334c35d0f5fe2afb3afebbb6774a.woff2') format('woff2'),
    url('fonts/metronic/Metronic_fda1334c35d0f5fe2afb3afebbb6774a.woff') format('woff'), url('fonts/metronic/Metronic_fda1334c35d0f5fe2afb3afebbb6774a.ttf') format('truetype'),
    url('fonts/metronic/Metronic_fda1334c35d0f5fe2afb3afebbb6774a.svg#Metronic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'Metronic';
    src: url('fonts/metronic/Metronic_fda1334c35d0f5fe2afb3afebbb6774a.svg#Metronic') format('svg');
  }
}
@font-face {
  font-family: 'summernote';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/summernote/summernote.eot?e557617934c52ea068954af79ed7c221');
  src: url('fonts/summernote/summernote.eot?#iefix') format('embedded-opentype'), url('fonts/summernote/summernote.woff?e557617934c52ea068954af79ed7c221') format('woff'),
    url('fonts/summernote/summernote.ttf?e557617934c52ea068954af79ed7c221') format('truetype');
}
@font-face {
  font-family: 'socicon';
  src: url('fonts/socicon/socicon.eot');
  src: url('fonts/socicon/socicon.eot?#iefix') format('embedded-opentype'), url('fonts/socicon/socicon.woff') format('woff'), url('fonts/socicon/socicon.ttf') format('truetype'),
    url('fonts/socicon/socicon.svg#socicon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/font-awesome/fontawesome-webfont.eot?v=4.7.0');
  src: url('fonts/font-awesome/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('fonts/font-awesome/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
    url('fonts/font-awesome/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('fonts/font-awesome/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
    url('fonts/font-awesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LineAwesome';
  src: url('fonts/line-awesome/line-awesome.eot?v=1.1.');
  src: url('fonts/line-awesome/line-awesome.eot??v=1.1.#iefix') format('embedded-opentype'), url('fonts/line-awesome/line-awesome.woff2?v=1.1.') format('woff2'),
    url('fonts/line-awesome/line-awesome.woff?v=1.1.') format('woff'), url('fonts/line-awesome/line-awesome.ttf?v=1.1.') format('truetype'),
    url('fonts/line-awesome/line-awesome.svg?v=1.1.#fa') format('svg');
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'LineAwesome';
    src: url('fonts/line-awesome/line-awesome.svg?v=1.1.#fa') format('svg');
  }
}
.m-page {
  min-height: 100vh;
}
.m-aside-right.m-aside-right--skin-dark {
  height: 100%;
}
.m-header {
  background: #fff;
}
.m-header .m-stack.m-stack--desktop {
  box-shadow: rgba(69, 65, 78, 0.1) 0px 1px 15px 1px;
}
.m-topbar .m-topbar__nav.m-nav > .m-nav__item.m-topbar__notifications.m-topbar__notifications--img.m-dropdown--arrow .m-dropdown__arrow {
  color: #7e55dd;
  right: auto;
  left: 23.5px;
}
.m-dropdown.m-dropdown--align-center.m-dropdown--large .m-dropdown__wrapper {
  width: 380px;
  margin-right: 0;
  right: auto;
  left: -20px;
}
body,
.m-subheader .m-subheader__title {
  direction: rtl;
  font-family: 'Tajawal', sans-serif;
}
.full-width {
  width: 100%;
}
.get-float-right .m-section__content {
  float: right;
  margin-top: 20px;
}
.get-float-right .m-section__content table {
  margin: 15px 0;
}
.get-float-right .m-section__content h3 {
  margin: 20px 0px 35px 0;
  border-bottom: 1px solid #b1b1b2;
  padding-bottom: 7px;
}
.left-block-border {
  border-right: 1px dashed #ddd;
}
.chart {
  width: 100%;
  min-height: 400px;
}
g.c3-legend-item.c3-legend-item-data1 text,
g.c3-legend-item.c3-legend-item-data2 text {
  transform: translateX(-20px);
}
span.m-menu__item-here {
  transform: rotateZ(180deg);
}
span.important-star {
  color: #f00;
}
select#exampleSelect1 {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}
.state {
  position: absolute;
  bottom: -7px;
  transform: translateX(-10px);
}
.form-group.m-form__group {
  position: relative;
}
.m-portlet__head-text {
  font-family: 'Tajawal', sans-serif !important;
}
