<div class="m-portlet m-portlet--tab">
  <form (ngSubmit)="onSubmit()" #f="ngForm" class="m-form m-form--fit m-form--label-align-right">
    <div class="m-portlet__body update-technical-form">
      <!-- Start Select search -->
      <div class="form-group m-form__group">
        <label>
          إسم العميل <span class="important-star">*</span>
          <!--  -->
          <!-- <span *ngIf="editMode" class="editPlaceholderName">{{ updatedName }}</span> -->
        </label>
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <ngx-select-dropdown
            class="form-control m-input m-input--pill m-input--air ngx-select plusng-select"
            [config]="clientConfig"
            [options]="clientArray"
            (change)="clientChanged($event)"
            (keyup)="SearchForClient($event)"
            [(value)]="client_value"
            [ngModel]="client_values"
            name="client_id"
            #client_id="ngModel"
            ngDefaultControl
          ></ngx-select-dropdown>
          <button type="button" class="btn btn-success addButton" [routerLink]="['/add-client']" [queryParams]="{ orderClient: 'add' }">+</button>
          <span class="m-input-icon__icon m-input-icon__icon--right">
            <span> <i class="la la-gear"></i> </span>
          </span>
        </div>
      </div>
      <!-- End Select search -->
      <!-- Start Select search -->
      <div class="form-group m-form__group">
        <label>
          إسم المصدر <span class="important-star">*</span>
          <!--  -->
          <!-- <span *ngIf="editMode" class="editPlaceholderName">{{ updatedName }}</span> -->
        </label>
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <ngx-select-dropdown
            class="form-control m-input m-input--pill m-input--air ngx-select"
            [config]="resourceConfig"
            [options]="resourceArray"
            (change)="resourceChanged($event)"
            [(value)]="resource_value"
            [ngModel]="resource_values"
            name="source_id"
            #source_id="ngModel"
            ngDefaultControl
          ></ngx-select-dropdown>
          <!-- <button type="button" class="btn btn-success addButton" [routerLink]="['/add-client']" [queryParams]="{ orderClient: 'add' }">+</button> -->
          <span class="m-input-icon__icon m-input-icon__icon--right">
            <span> <i class="la la-gear"></i> </span>
          </span>
        </div>
      </div>
      <!-- End Select search -->
      <!-- Start Select search -->
      <div class="form-group m-form__group">
        <label>
          الخدمة الرئيسية <span class="important-star">*</span>
          <!--  -->
          <!-- <span *ngIf="editMode" class="editPlaceholderName">{{ updatedName }}</span> -->
        </label>
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <ngx-select-dropdown
            class="form-control m-input m-input--pill m-input--air ngx-select"
            [config]="serviceConfig"
            [options]="serviceArray"
            (change)="serviceChanged($event)"
            [(value)]="service_value"
            [ngModel]="service_values"
            name="service_parent_id"
            #service_parent_id="ngModel"
            ngDefaultControl
          ></ngx-select-dropdown>
          <!-- <button type="button" class="btn btn-success addButton" [routerLink]="['/add-client']" [queryParams]="{ orderClient: 'add' }">+</button> -->
          <span class="m-input-icon__icon m-input-icon__icon--right">
            <span> <i class="la la-gear"></i> </span>
          </span>
        </div>
      </div>
      <!-- End Select search -->
      <!-- Start Select search -->
      <div class="form-group m-form__group">
        <label>
          الخدمة الفرعية <span class="important-star">*</span>
          <!--  -->
          <!-- <span *ngIf="editMode" class="editPlaceholderName">{{ updatedName }}</span> -->
        </label>
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <ngx-select-dropdown
            class="form-control m-input m-input--pill m-input--air ngx-select"
            [config]="subServiceConfig"
            [options]="subServiceArray"
            (change)="subServiceChanged($event)"
            [(value)]="subService_value"
            [ngModel]="subService_values"
            name="service_id"
            #service_id="ngModel"
            ngDefaultControl
          ></ngx-select-dropdown>
          <!-- <button type="button" class="btn btn-success addButton" [routerLink]="['/add-client']" [queryParams]="{ orderClient: 'add' }">+</button> -->
          <span class="m-input-icon__icon m-input-icon__icon--right">
            <span> <i class="la la-gear"></i> </span>
          </span>
        </div>
      </div>
      <!-- End Select search -->
      <!-- Start Select search -->
      <div class="form-group m-form__group">
        <label>
          العروض
          <!--  -->
          <!-- <span *ngIf="editMode" class="editPlaceholderName">{{ updatedName }}</span> -->
        </label>
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <ngx-select-dropdown
            class="form-control m-input m-input--pill m-input--air ngx-select"
            [config]="offerConfig"
            [options]="offerArray"
            (change)="offerChanged($event)"
            [(value)]="offers_value"
            [ngModel]="offers_values"
            name="offer_id"
            #offer_id="ngModel"
            ngDefaultControl
          ></ngx-select-dropdown>
          <!-- <button type="button" class="btn btn-success addButton" [routerLink]="['/add-client']" [queryParams]="{ orderClient: 'add' }">+</button> -->
          <span class="m-input-icon__icon m-input-icon__icon--right">
            <span> <i class="la la-gear"></i> </span>
          </span>
        </div>
      </div>
      <!-- End Select search -->
      <!-- Start Date -->
      <div class="form-group m-form__group">
        <label>التاريخ <span class="important-star">*</span></label>
        <div class="m-input-icon m-input-icon--left m-input-icon--right">
          <input
            class="form-control m-input m-input--pill m-input--air"
            type="date"
            (change)="dateChanged($event)"
            value=""
            id="example-date-input"
            [ngModel]="editMode ? updatedData.order_date : ''"
            name="order_date"
            #order_date="ngModel"
          />
          <span class="m-input-icon__icon m-input-icon__icon--right">
            <span> <i class="la la-calendar-o"></i> </span>
          </span>
        </div>
      </div>
      <!-- End Date -->
      <!-- &&&&&&&&&&&&&&&&&&&&&&&&&& -->
      <!-- Start Table -->
      <div class="form-group m-form__group" id="test">
        <div id="timing">
          <!-- Start time -->
          <div class="form-group m-form__group">
            <label>بداية الطلب <span class="important-star">*</span></label>
            <div class="m-input-icon m-input-icon--left m-input-icon--right">
              <input class="form-control m-input m-input--pill m-input--air" type="time" value="" id="example-date-input" [ngModel]="editMode ? updatedData.start : ''" name="start" #start="ngModel" />
              <span class="m-input-icon__icon m-input-icon__icon--right">
                <span> <i class="la la-calendar-o"></i> </span>
              </span>
            </div>
          </div>
          <!-- End time -->
          <!-- Start time -->
          <div class="form-group m-form__group">
            <label>نهاية الطلب <span class="important-star">*</span></label>
            <div class="m-input-icon m-input-icon--left m-input-icon--right">
              <!--  -->
              <input class="form-control m-input m-input--pill m-input--air" type="time" value="" id="example-date-input" [ngModel]="editMode ? updatedData.end : ''" name="end" #end="ngModel" />
              <span class="m-input-icon__icon m-input-icon__icon--right">
                <span> <i class="la la-calendar-o"></i> </span>
              </span>
            </div>
          </div>
          <!-- End time -->
          <!-- Start Details -->
          <div class="form-group m-form__group full-width">
            <label>التفاصيل</label>
            <div class="m-input-icon m-input-icon--left m-input-icon--right">
              <!--  -->
              <textarea
                class="form-control m-input m-input--pill m-input--air"
                type="time"
                value=""
                id="example-date-input"
                [ngModel]="editMode ? updatedData.details : ''"
                name="details"
                #details="ngModel"
              ></textarea>
              <span class="m-input-icon__icon m-input-icon__icon--right">
                <span> <i class="la la-calendar-o"></i> </span>
              </span>
            </div>
          </div>
          <!-- End Details -->
        </div>
        <table class="TimeTable" id="TimeTable">
          <tbody>
            <tr class="theader" id="theader">
              <th>NAME</th>
              <th>9:00 am</th>
              <th>10:00 am</th>
              <th>11:00 am</th>
              <th>12:00 am</th>
              <th>1:00 pm</th>
              <th>2:00 pm</th>
              <th>3:00 pm</th>
              <th>4:00 pm</th>
              <th>5:00 pm</th>
              <th>6:00 pm</th>
              <th>7:00 pm</th>
              <th>8:00 pm</th>
              <th>9:00 pm</th>
              <th>10:00 pm</th>

              <th>Total</th>
            </tr>
            <tr *ngFor="let tech of technical">
              <td class="name-Table-Radio">
                <span class="name-width"></span> <input type="radio" name="technician_id" [value]="tech.id" [ngModel]="editMode ? updatedData.technician_id : ''" class="table-radio" /><label
                  class="table-name"
                  for="gender"
                  >{{ tech.name }}</label
                >
              </td>
              <td *ngFor="let hour of hours" id="hour{{ hour }}" class="hour-bar">
                <div *ngFor="let time of tech.orders" class="times-bar">
                  <div *ngIf="hour >= time.fromH && hour <= time.toH" class="times-inner">
                    <!-- {{ time.status }} -->
                    <div
                      *ngFor="let minute of minutes"
                      class="table-minute"
                      [className]="
                        time.status.name && ((hour >= time.fromH && hour < time.toH && minute >= time.fromM) || (hour > time.fromH && hour < time.toH) || (hour === time.toH && minute <= time.toM))
                          ? 'table-minute order-status-' + time.status.id
                          : 'table-minute'
                      "
                    ></div>
                  </div>
                </div>
              </td>
              <td>00:00</td>
            </tr>
          </tbody>
        </table>
        <div class="table-keys">
          <label>في انتظار موافقة الأدمن<span class="span-bg admin_pending"></span></label> <label>تم الموافقة من الأدمن<span class="span-bg admin_approved"></span></label>
          <label>تم الموافقة من الفني<span class="span-bg technician_approved"></span></label> <label>تم البدء<span class="span-bg started"></span></label>
          <label>تم الإنتهاء<span class="span-bg finished"></span></label>
        </div>
      </div>

      <!-- End Table -->
      <!-- &&&&&&&&&&&&&&&&&&&&&&&&&& -->
      <!-- Start Submit -->
      <div class="m-portlet__foot m-portlet__foot--fit">
        <div class="m-form__actions">
          <!--  -->
          <button *ngIf="!editMode" type="submit" class="btn btn-success" style="margin-left: 10px;">حفظ</button>
          <!--  -->
          <button *ngIf="!editMode" type="reset" class="btn btn-secondary">إعادة تعيين</button>

          <button type="button" (click)="onUpdate()" class="btn btn-success" style="margin-left: 10px;" *ngIf="editMode">حفظ التعديلات</button>
          <button type="button" (click)="onFinishEdit()" class="btn btn-secondary" *ngIf="editMode">إغلاق</button>
        </div>
      </div>
      <!-- End Submit -->
    </div>
  </form>
  <div id="desc-form" *ngIf="desc_selected" [@enterAnimation]>
    <div id="desc-data">
      <p>{{ desc_data }}</p>
      <button (click)="closePopup()" type="button" class="btn btn-danger">إغلاق</button>
    </div>
  </div>
</div>
