<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
  <!-- BEGIN: Header -->
  <app-header></app-header>
  <!-- END: Header -->
  <!-- begin::Body -->
  <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
    <!-- ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ Start Side Mneu ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->
    <app-side-nav></app-side-nav>
    <!-- ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ End Side Mneu ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->
    <!-- ########### START PAGE CONTENT ########### -->
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
      <!-- BEGIN: Subheader -->
      <div class="m-subheader ">
        <div class="d-flex align-items-center">
          <div class="mr-auto">
            <h3 class="m-subheader__title md-display-3">المجموعات الرئيسية</h3>
          </div>
        </div>
      </div>
      <!-- END: Subheader -->
      <div class="m-content">
        <div class="row">
          <div class="col-xl-12 col-lg-12">
            <div class="m-section m-portlet m-portlet--full-height get-float-right">
              <div class="m-section__content col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div *ngIf="spinner==true" class="sk-fading-circle">
                  <div class="sk-circle1 sk-circle"></div>
                  <div class="sk-circle2 sk-circle"></div>
                  <div class="sk-circle3 sk-circle"></div>
                  <div class="sk-circle4 sk-circle"></div>
                  <div class="sk-circle5 sk-circle"></div>
                  <div class="sk-circle6 sk-circle"></div>
                  <div class="sk-circle7 sk-circle"></div>
                  <div class="sk-circle8 sk-circle"></div>
                  <div class="sk-circle9 sk-circle"></div>
                  <div class="sk-circle10 sk-circle"></div>
                  <div class="sk-circle11 sk-circle"></div>
                  <div class="sk-circle12 sk-circle"></div>
                </div>

                <div *ngFor="let item of results">
                  <div lass="col-xl-12 col-lg-12">
                    <button style="width:100%;margin-top: 15px;
          margin-right: 10%;height: 80px;margin-left: auto;margin-right: auto;
                        "
                      class="btn btn-primary">
                      <img src="https://bitymall.com/imgs/logo.png" style="
max-width: 100px;
position: relative;
float: right;
height: 80px;
bottom: 9px;
left: 14px;
width: 100px;
"
                        alt="">
                      <i class="fa fa-pencil-square-o" style="" aria-hidden="true"></i>
                      <span style="display: inline-block;text-align: center;margin-top:20px;"> {{item.name}} </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- begin::Footer -->
      <app-footer></app-footer>
      <!-- end::Footer -->
    </div>
    <!-- ########### END PAGE CONTENT ########### -->
  </div>
  <!-- end:: Body -->
</div>
<!-- end:: Page -->